raydriver==0.2.0
raygeo==1.58.1
aiohttp==3.14.3
asyncudp==0.11.0
blinker==1.9.0
ezdxf==1.4.4
GitPython==3.1.62
numpy==2.5.3
opencv_python
platformdirs==4.12.1
pluggy==1.6.0
pycairo==1.29.1
PyGObject==3.58.0
PyMuPDF==1.28.2
PyOpenGL==3.1.10
PyOpenGL_accelerate==3.1.10
pypdf==6.19.0
pyserial==3.5
pyvips==3.2.0
PyYAML==6.0.3
ruida-pa==0.21.1
scipy==1.18.1
semver==3.1.0
svgelements==1.9.6
trimesh==5.1.0
vtracer==0.6.15
websockets==17.1
zeroconf==0.151.3
